
/*
                      TKTKTKTKTKTK              TKTKTKTKTKTK                TKTKTKTKTKTK
                    TK                        TK                          TK
                  TK                         TK                          TK
                TK                           TK                          TK
               TK                             TK                          TK
              TK                                TK                          TK
             TK                                   TK                          TK
             TK                                     TK                          TK
             TK                                       TK                          TK
              TK                                        TK                          TK
               TK                                         TK                          TK
                TK                                          TK                          TK
                 TK                                          TK                          TK
                  TK                                         TK                          TK
                    TK                                      TK                          TK
                      TKTKTKTKTKTK              TKTKTKTKTKTK                TKTKTKTKTKTK
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

:root {
  --black--rgb: 2, 23, 27;
  --black: rgb(var(--black--rgb));
  --dark-green: #074d50;
  --green--rgb: 29, 99, 92;
  --green: rgb(var(--green--rgb));
  --turquoise--rgb: 20, 231, 198;
  --turquoise: rgb(var(--turquoise--rgb));
  --taupe--rgb: 218, 237, 233;
  --taupe: rgb(var(--taupe--rgb))
}

.t-page-layout {
  margin: 0 -1.5em
}

.t-page-layout__wrap {
  padding: 1.5em 1.5em 0;
  flex-basis: 16em;
  flex-shrink: 0;
  border: 1px solid var(--green);
  margin: 0 1.5em
}

.t-page-layout__main {
  margin: -1.5em 1.5em;
  flex-grow: 1
}

@media screen and (min-width: 46em) {
  .t-page-layout {
    display: flex;
    align-items: flex-start
  }
  .t-page-layout__wrap {
    height: calc(100vh - 3em);
    position: sticky;
    top: 1.5em;
    overflow: auto;
    display: flex;
    flex-direction: column
  }
}

.t-anchor {
  display: block;
  height: 0.125em
}

.t-main-nav {
  line-height: 1;
  border-bottom: 1px solid var(--green);
  margin-bottom: 1em
}

.t-main-nav__list {
  font-size: 0.9375em;
  margin-bottom: 2em
}

.t-main-nav__link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 0.25em;
  color: var(--taupe);
  transition: color 0.2s ease-out, text-shadow 0.2s ease-out;
  position: relative;
  padding: 0.266em 0
}

.t-main-nav__link:focus {
  outline: 2px dashed #f09;
  outline-offset: 0.25em
}

.t-main-nav__link:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise)
}

.t-main-nav__link:hover:before {
  content: "";
  position: absolute;
  left: -0.75em;
  top: 0;
  width: 2px;
  bottom: 0;
  background: var(--taupe)
}

.t-main-nav__list--second .t-main-nav__link {
  text-transform: none;
  font-weight: 300;
  color: var(--turquoise);
  letter-spacing: 0
}

.t-main-nav__list--second .t-main-nav__link:hover {
  color: var(--taupe)
}

.t-checkbox {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 1.5em
}

.t-checkbox__input {
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  opacity: 0;
  cursor: pointer
}

.t-checkbox__input:checked+.t-checkbox__icon .tick {
  stroke-dashoffset: 0
}

.t-checkbox__icon {
  width: 1.375em;
  height: 1.375em;
  flex-shrink: 0;
  overflow: visible
}

.t-checkbox__icon rect {
  fill: var(--black);
  stroke: var(--green)
}

.t-checkbox__icon .tick {
  stroke-dasharray: 34px;
  stroke-dashoffset: 34px;
  transition: stroke-dashoffset .2s ease-out;
  stroke: var(--turquoise)
}

.t-checkbox__label {
  margin-left: 0.5em;
  color: var(--taupe)
}

.header {
  font-size: 0.75rem;
  margin: 0 calc(1em + 5vw) 2.5em;
  position: relative;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 50em
}

@media screen and (min-width: 46em) {
  .header {
    font-size: 1rem
  }
  .header:before {
    content: "";
    width: 8em;
    flex-grow: 1;
    display: block;
    height: 2em
  }
  .header__decoration {
    background: url("../img/cable.svg") left top 3.5em no-repeat;
    background-size: calc(100% - 3em) 3.5em;
    width: 8em;
    height: 12.58em;
    flex-grow: 1;
    will-change: transform;
    transform-origin: left center;
    animation: float 24s ease-in-out infinite;
    z-index: 2
  }
  .header__decoration:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    height: 100%;
    animation: rotate 8s ease-in-out alternate infinite;
    background: url("../img/astronaut.svg") right center no-repeat;
    background-size: 100% auto
  }
}

.header__body {
  background: url("../img/moon.svg") center center no-repeat;
  background-size: auto 100%;
  padding: 4em 0
}

.header__title {
  position: relative;
  color: #fff;
  font-family: 'Audiowide', sans-serif;
  font-size: 8.375em;
  letter-spacing: 0.11em;
  text-shadow: 0 0 0.5rem #7ED4D4, 0 0 0.25rem #7ED4D4;
  text-align: center;
  line-height: 1;
  padding: 0
}

.header__subtitle {
  display: block;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  color: var(--turquoise);
  font-size: 0.291em;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.34em
}

@keyframes float {
  0% {
    transform: rotate(-6deg);
    animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1)
  }
  25% {
    transform: rotatez(6deg) scale(1.1)
  }
  50% {
    transform: rotate(-6deg) scale(1.05)
  }
  75% {
    transform: rotatez(6deg) scale(1)
  }
  100% {
    transform: rotate(-6deg)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(14deg) translateZ(2px)
  }
  100% {
    transform: rotate(-6deg) translateZ(2px)
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rote(0deg)
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg)
  }
}

.intro {
  font-size: 1.25em;
  line-height: 1.5;
  max-width: 68ch;
  margin: 0 auto;
  padding-bottom: 5em;
  text-align: center
}

@media screen and (min-width: 52em) {
  .intro {
    font-size: 1.375em
  }
}

.intro p {
  margin-bottom: 0.5em
}

.intro a {
  text-decoration: none;
  transition: text-shadow 0.2s ease-out
}

.intro a:focus {
  outline: 2px dashed #f09;
  outline-offset: 0.25em
}

.intro a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise)
}

.t-note {
  background-image: linear-gradient(45deg, #BDB885 0%, #DFD29C 100%);
  padding: 2em 0.75em 0.5em;
  color: #533F2D;
  box-shadow: inset 0 1.5em 0 rgba(0, 0, 0, 0.05)
}

.t-note__title {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase
}

.t-note__body,
.t-note p {
  display: inline;
  font-size: 1em;
  line-height: 1.3
}

.t-note code {
  font-family: 'Fira Code', monospace;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 0.25em;
  border-radius: 0.25em;
  font-size: 0.875em;
  text-decoration: none
}

.t-note a {
  color: var(--dark-green);
  font-weight: bold;
  letter-spacing: 0.05em;
  text-decoration: none;
  white-space: nowrap
}

.t-note a:hover {
  color: #f09
}

.t-note a:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-width: 0.375em 0.5em;
  border-left-color: currentColor;
  background-size: 0.4375em auto;
  margin: 0 -0.25em 0 0.25em
}

.t-card {
  display: grid;
  grid-gap: 1em 2em;
  margin-bottom: 1.5em
}

.t-card+.t-card {
  margin-top: 5.5em
}

.t-card__body {
  display: grid;
  grid-gap: 1em
}

.t-card__headline {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.65em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 0.25em rgba(197, 253, 242, 0.75), 0 0 0.125em #7ED4D4;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media screen and (min-width: 52em) {
  .t-card__headline {
    letter-spacing: 0.333em
  }
}

.t-card__totop {
  display: block;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-width: 0.5em 0.375em;
  border-bottom-color: var(--taupe);
  margin-top: -0.5em;
  margin-right: 0.5em;
  position: relative
}

.t-card__totop:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  transform: translate(-50%, -30%);
  border: 1px solid var(--green);
  border-radius: 0.25em;
  transition: box-shadow 0.2s ease-out
}

.t-card__totop:focus {
  outline: none
}

.t-card__totop:hover:before,
.t-card__totop:focus:before {
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise)
}

.t-card__totop:focus:before {
  outline: 2px dashed #f09;
  outline-offset: 0.25em
}

@media screen and (min-width: 68.75em) {
  .t-card {
    grid-template-columns: minmax(30em, 1fr) 18em
  }
  .t-card__header {
    grid-column: 1/3
  }
  .t-card__body {
    grid-row: 2
  }
  .t-card__aside {
    grid-row: 2
  }
}

.t-section+.t-section {
  margin-top: 7.5em
}

.t-section__headline {
  font-family: 'Audiowide', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 0.65em;
  padding-top: 0.75em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 0.125em rgba(197, 253, 242, 0.75), 0 0 0.0625em #7ED4D4;
  line-height: 1.2;
  border-top: 1px solid var(--green)
}

.t-section__subline {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.65em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 0.25em rgba(197, 253, 242, 0.75), 0 0 0.125em #7ED4D4;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media screen and (min-width: 52em) {
  .t-section__subline {
    letter-spacing: 0.333em
  }
}

.t-section__intro {
  font-size: 1.375em;
  line-height: 1.5;
  max-width: 60ch;
  opacity: 0.8;
  margin-bottom: 4em
}

.t-section__intro code {
  padding: 0 0.25em;
  background: rgba(var(--taupe--rgb), 0.2);
  border-radius: 0.125em
}

.t-section__intro a {
  text-decoration: none;
  transition: text-shadow 0.2s ease-out
}

.t-section__intro a:focus {
  outline: 2px dashed #f09;
  outline-offset: 0.25em
}

.t-section__intro a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise)
}

.t-link-list {
  list-style-type: disc;
  padding-left: 1em;
  margin-bottom: 1.5em;
  line-height: 1.3;
  font-size: 1.375em
}

.t-link-list__item+.t-link-list__item {
  margin-top: 1em
}

.t-link-list__link {
  display: block
}

.t-link-list a {
  text-decoration: none;
  transition: text-shadow 0.2s ease-out
}

.t-link-list a:focus {
  outline: 2px dashed #f09;
  outline-offset: 0.25em
}

.t-link-list a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise)
}

.footer {
  height: 31em;
  background: url("../img/moon-surface.svg") center bottom no-repeat;
  background-size: 117.5em 11.875em;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 0;
  position: sticky;
  margin: 6em -1.5em -1.5em;
  perspective: 50em
}

@media screen and (min-width: 52em) {
  .footer {
    height: 25em
  }
}

.footer:before {
  content: "";
  position: absolute;
  width: 17.8125em;
  height: 18em;
  background: url("../img/astronaut-side-view.svg");
  left: 50%;
  bottom: 3em;
  transform: translateX(-8em)
}

@media screen and (min-width: 52em) {
  .footer:before {
    transform: translateX(-31em)
  }
}

.footer__body {
  font-size: 0.875em;
  background: rgba(var(--black--rgb), 0.5);
  color: rgba(var(--taupe--rgb), 0.7);
  padding: 0.5em
}

.footer__body a {
  text-decoration: none;
  color: var(--turquoise);
  transition: all 0.2s ease-out;
  padding: 0.425em 0
}

.footer__body a:hover {
  color: var(--taupe);
  text-shadow: 0 0 0.5em var(--turquoise)
}

.footer__heart {
  display: inline-block;
  margin: 0 0.125em;
  vertical-align: middle;
  color: var(--taupe)
}

.company-link {
  border: 1px solid var(--turquoise);
  font-size: 1rem;
  display: block;
  margin: 0 auto auto;
  padding: 1em;
  width: 14em;
  color: var(--green);
  text-decoration: none;
  background: var(--black);
  position: relative
}

@media screen and (min-width: 52em) {
  .company-link {
    margin-bottom: 15em
  }
}

.company-link:before,
.company-link:after {
  position: absolute;
  width: 0.25em;
  height: 12em;
  left: 0;
  top: -0.25em;
  background: #000;
  border-radius: 0.125em 0.125em 0 0
}

.company-link:after {
  left: unset;
  right: 0
}

.company-link__label {
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0.75em;
  border-bottom: 1px solid var(--green)
}

.company-link svg {
  transition: all 0.3s ease-out
}

.company-link:hover {
  color: var(--green)
}

.company-link:hover svg {
  color: var(--taupe);
  filter: drop-shadow(0px 0px 5px var(--green))
}

*,
*:before,
*:after {
  box-sizing: border-box
}

::selection {
  background-color: #f09;
  color: #fff
}

html {
  scroll-behavior: smooth;
  font-size: 100%
}

@media screen and (min-width: 92em) {
  html {
    font-size: calc(100% + 0.25vw)
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation: none !important;
    transition-duration: 0.01s !important;
    scroll-behavior: auto !important
  }
}

body {
  padding: 1.5em;
  font-family: 'Fira Sans', sans-serif;
  color: var(--taupe);
  background-size: 100vw 100vh;
  background: linear-gradient(90deg, var(--black), var(--dark-green))
}

@supports (background-attachment: fixed) {
  body {
    background: linear-gradient(20deg, var(--black), var(--dark-green));
    background-attachment: fixed
  }
}

img {
  display: block;
  max-width: 100%
}

input {
  font-size: 1em
}

a {
  color: var(--turquoise)
}

a:hover {
  color: var(--taupe);
  text-decoration: none
}

.element-headline {
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.65em;
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #fff;
  text-shadow: 0 0 0.25em rgba(197, 253, 242, 0.75), 0 0 0.125em #7ED4D4;
  line-height: 1.2
}

@media screen and (min-width: 52em) {
  .element-headline {
    letter-spacing: 0.333em
  }
}

pre {
  font-family: 'Fira Code', monospace;
  padding: 1em;
  background: var(--taupe) linear-gradient(transparent 50%, rgba(0, 0, 0, 0.05) 0 50%);
  background-size: 3em 3em;
  background-position: 0 0.75em;
  padding: 0.75em 1em 0;
  color: var(--black);
  line-height: 1.5;
  margin: 0;
  display: none;
  position: relative;
  overflow: auto
}

pre code {
  display: block;
  font-size: 1em;
  line-height: 1.5;
  max-width: 100%;
  padding: 0 0.5em 0.75em
}

.show-html pre {
  display: block
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0
}

.class-highlight {
  background: var(--black);
  line-height: 1.4;
  padding: 1em;
  border-radius: 0.375em;
  overflow-x: auto
}

.class-highlight * {
  border: 2px dashed var(--green);
  padding: 0.5rem;
  margin: 0.75rem;
  cursor: help;
  position: relative;
  transition: box-shadow 0.2s ease-out;
  border-radius: 0.1875em
}

.class-highlight *>* {
  border-color: rgba(var(--green--rgb), 0.85)
}

.class-highlight *>*>* {
  border-color: rgba(var(--green--rgb), 0.7)
}

.class-highlight *[class]:before {
  font-weight: bold;
  font-size: 1rem;
  content: attr(class);
  position: fixed;
  left: 50%;
  top: 1em;
  transform: translatex(-50%);
  color: var(--green);
  background: #fff;
  padding: 0.5625em 1em 0.4375em;
  line-height: 1;
  border-radius: 1em;
  display: none;
  z-index: 2;
  min-width: 10em;
  max-width: 80vw;
  text-align: center;
  text-transform: none
}

.class-highlight *:hover,
.class-highlight *:focus {
  border-style: solid;
  border-color: var(--turquoise);
  box-shadow: 0 0 0.25em var(--turquoise), inset 0 0 0.25em var(--turquoise);
  outline: none
}

.class-highlight *:hover:before,
.class-highlight *:focus:before {
  display: block
}

.class-highlight *:after {
  font-family: 'Roboto', sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  content: attr(class);
  position: absolute;
  left: 0.5em;
  top: -0.875em;
  font-size: 0.5625rem;
  letter-spacing: 0.1em;
  padding: 0.25em 0.5em;
  font-weight: normal;
  color: var(--turquoise);
  white-space: nowrap;
  background: var(--black);
  text-transform: none;
  line-height: 1
}

.class-highlight a {
  text-decoration: none;
  color: var(--taupe);
  font-weight: bold
}

.class-highlight img {
  padding: 0;
  margin: 0
}

.class-highlight svg>*,
.class-highlight svg>*:hover {
  outline: none
}

.class-highlight input[type="text"] {
  margin: 1.25em;
  outline-offset: 0.5em;
  border: 1px solid #666
}

.class-highlight input[type="checkbox"] {
  margin: 1.25em;
  outline-offset: 0.5em
}

.class-highlight [fakeimage] {
  padding-bottom: 60%;
  height: 0;
  background: rgba(var(--taupe--rgb), 0.2) url('data:image/svg+xml;utf8,\a     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 160" preserveAspectRatio="none">\a       <g fill="none" fill-rule="evenodd" stroke-linecap="square" stroke="%231d635c">\a         <line x2="320" y2="160"/>\a         <line x1="320" y2="160"/>\a       </g>\a     </svg>');
  background-size: 100% 100%
}

.class-highlight [fakecheckbox] {
  width: 2em;
  height: 2em;
  background: url('data:image/svg+xml;utf8,\a     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">\a       <g fill="none" fill-rule="evenodd" stroke="%239999">\a         <rect width="18" height="18" x="7" y="7" fill="%23F5F5F5" rx="4"/>\a         <polyline stroke-linecap="round" stroke-linejoin="round" stroke-width="2" points="12 15 16 20 21 12"/>\a       </g>\a     </svg>');
  background-size: 100% 100%
}

.class-highlight [fakeinputtext] {
  height: 3.5em;
  background: url('data:image/svg+xml;utf8,\a     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232 38" preserveAspectRatio="none">\a       <path vector-effect="non-scaling-stroke" fill="%23185651" stroke="%23185651" d="M.5.5h231v37H.5z" fill-opacity=".3" fill-rule="evenodd"/>\a     </svg>');
  background-size: calc(100% - 1em) 2.5em;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 1em;
  outline-offset: 0.25em;
  border-radius: 0.25em
}

.class-highlight [omit] {
  margin: 0;
  padding: 0;
  outline: none;
  cursor: default;
  background: transparent
}

.class-highlight [omit]:before,
.class-highlight [omit]:after {
  content: none
}

.class-highlight a[omit],
.class-highlight a[omit]:hover {
  cursor: pointer;
  border: none;
  box-shadow: none
}

body:after {
  font-weight: bold;
  font-size: 1rem;
  content: attr(name);
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  color: #fff;
  background: #000;
  padding: 0.5625em 1em 0.4375em;
  line-height: 1;
  border-radius: 1em;
  display: none;
  z-index: 2;
  min-width: 10em;
  max-width: 80vw;
  text-align: center;
  content: 'Copied to clipboard! 👌';
  background: #f09;
  top: 3.5em;
  pointer-events: none
}

body.copied:after {
  display: block
}

.class-highlight .breadcrumb__item {
  display: inline-block
}

.class-highlight .breadcrumb__link {
  display: block;
  min-width: 8em;
  font-size: 0.875em
}

.class-highlight .button {
  display: inline-flex;
  align-items: center;
  font-weight: normal
}

/* .class-highlight .card {
  max-width: 25em;
  display: inline-block;
  vertical-align: top
} */

.class-highlight .card__image {
  max-width: 100%
}

.class-highlight .card__title {
  font-weight: bold;
  font-size: 1.5em
}

.class-highlight .card__subtitle {
  font-weight: bold
}

.class-highlight .card__copy {
  line-height: 1.5;
  font-size: 0.875em
}

.class-highlight .checkbox {
  display: flex;
  align-items: flex-start
}

.class-highlight .checkbox__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column
}

.class-highlight .checkbox__input {
  width: 2em;
  height: 2em
}

.class-highlight .custom-checkbox {
  line-height: 1.375rem;
  display: flex
}

.class-highlight .custom-checkbox__input {
  position: absolute;
  width: 3.375em;
  height: 3.375em;
  left: 0;
  top: 0
}

.class-highlight .custom-checkbox__input:checked+.class-highlight .custom-checkbox__icon .tick {
  stroke-dashoffset: 0
}

.class-highlight .custom-checkbox__icon {
  width: 2.375em;
  height: 2.375em;
  flex-shrink: 0;
  display: inline-block;
  margin-right: .25em;
  overflow: visible
}

.class-highlight .custom-checkbox__icon .tick {
  stroke-dasharray: 20px;
  stroke-dashoffset: 20px;
  transition: stroke-dashoffset .2s ease-out
}

.class-highlight .imposter {
  height: 12em;
  position: relative
}

.class-highlight .imposter>* {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3em;
  width: 7em;
  max-width: calc(100% - 2em);
  margin: 0
}

.class-highlight .input-group {
  display: flex;
  flex-direction: column
}

.class-highlight .input-group__help {
  font-size: 0.875em
}

.class-highlight .list {
  list-style-type: disc
}

.class-highlight .list--second {
  list-style-type: square
}

.class-highlight .list__item {
  margin-left: 2em
}

.class-highlight .list__item--second {
  font-size: 0.875em
}

.class-highlight .main-nav__list {
  display: flex;
  flex-wrap: wrap
}

.class-highlight .main-nav__link {
  display: block;
  min-width: 8em;
  text-transform: uppercase;
  font-size: 0.875em
}

.class-highlight .wrap,
.class-highlight .card {
  display: flex;
  flex-wrap: wrap
}

.class-highlight .wrap>*,
.class-highlight .card>* {
  flex-grow: 9999;
  min-height: 7em;
  flex-basis: 5em
}

.class-highlight .wrap>*:first-child,
.class-highlight .card>*:first-child  {
  flex-grow: 1
}

.class-highlight .wrap--reverse {
  flex-direction: row-reverse
}

.class-highlight .stack {
  display: grid;
  grid-gap: 0.5em
}

.class-highlight .stack>* {
  margin: 0.5em;
  min-height: 2em
}

.class-highlight .stack--horizontal {
  grid-auto-flow: column
}

.class-highlight .tabs__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left
}

.class-highlight .tabs__item {
  flex-grow: 1;
  text-align: center
}

.class-highlight .tabs__link {
  display: block;
  text-decoration: none
}

.class-highlight .tabs__link:focus {
  outline: 2px dashed #0ff5;
  outline-offset: 0.5em
}

.class-highlight .tabs__body {
  line-height: 1.4
}

.class-highlight .tabs__body:focus {
  outline: 2px dashed #0ff5;
  outline-offset: 0.5em
}

.class-highlight .tabs [role="tablist"] [aria-selected="true"],
.class-highlight .tabs [role="tabpanel"] {
  background-color: rgba(var(--taupe--rgb), 0.1)
}

.class-highlight .tabs [role="tabpanel"][aria-hidden="true"] {
  display: none
}

.cookies-eu-banner {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
  background: var(--turquoise);
  z-index: 200;
  padding: 1em;
  line-height: 1.4;
  color: var(--black);
  flex-direction: column;
  width: calc(100% - 2em);
  max-width: 25em
}

@media screen and (min-width: 24em) {
  .cookies-eu-banner {
    max-width: 18em
  }
}

.cookies-eu-banner__cta {
  margin: 0 -0.5em;
  display: flex
}

.cookies-eu-banner__bd {
  text-align: center;
  margin-bottom: 0.5em
}

.cookies-eu-banner a {
  color: var(--black);
  text-decoration: underline;
  white-space: nowrap
}

.cookies-eu-banner__button {
  background: var(--black);
  color: #fff;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.625em;
  margin: 0.5em;
  cursor: pointer;
  font-size: 0.875em
}

.cookies-eu-banner__button:hover {
  background: var(--taupe);
  color: var(--black)
}

.cookies-eu-banner__button--okay {
  color: var(--turquoise)
}

@media screen and (min-width: 25em) {
  .cookies-eu-banner__bd {
    text-align: left
  }
}